* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4F4F4;
    position: relative;
    max-width: 375px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header {
    background-image: url(./assets/images/image-hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.header-child {
    padding: 27px 19px 0;
}

.topCardPos {
    position: relative;
    margin-top: -55px;
}

.mastercraftLogo {
    position: absolute;
    top: -25px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

#basic-menu {
    min-width: 390px;
}


